################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Selenium-App/Selenium-App/bin/Debug
/Selenium-App/Selenium-App/obj/Debug
